.navbar.container {
  margin-top: 0;
  max-width: 100%;
  
  .navbar-brand {
    margin-left: 0;
  }
}

.navbar-default {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 100%;

  p {
    margin: 0;
  }

  .navbar-brand,
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: @brand-primary;
  }

  .navbar-brand {
    float: none;
    line-height: inherit;
    text-transform: uppercase;
    padding: 0;
    margin: 0;

    // Mobile and tablet:
      font-size: @font-size-h2;
      display: none;
    @media (min-width: @screen-sm-min) {
      display: inline-block;
      font-size: @font-size-h1;
      line-height: 35px;                           /* Line up site name with name in logo */
      height: 50px;
    }
  }

  .navbar-collapse {
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
    opacity: .8;
    z-index: 1;
  }

  .primary-nav {
    background-color: @brand-primary;
    width: 100%;
    font-size: @font-size-large;
    margin: 0;
    float: left;

    .navbar-nav {
      .container;

      float: none;
      padding: 0;
      margin: 0 auto;

      > .leaf {
        > a,
        > a:hover,
        > a:focus {
          color: white;
          background-color: @brand-primary;
          font-weight: bold;
        }
      }

      > .active {
        > a,
        > a:hover,
        > a:focus {
          color: white;
          background-color: @text-color;
          font-weight: bold;
        }
      }

      > .leaf {
        > a {
          // Mobile and tablet:
            padding: floor(@line-height-computed/2) floor(@grid-gutter-width/2);
          @media (min-width: @screen-sm-min) {
            padding: @line-height-computed floor(@grid-gutter-width/2);
          }
        }
      }

      > .leaf.first {
        > a {
          padding-top: @line-height-computed;
        }
      }

      > .leaf.last {
        > a {
          padding-bottom: @line-height-computed;
        }
      }
    }
  }

  .navbar-header {

    padding: @line-height-computed 0;

    .logo {
      .make-xs-column(9);
      .make-sm-column(6);
      .make-md-column(4);

      // // Mobile:
      // @media (min-width: @screen-xs-min) {
        height: (4*@line-height-computed);
      // }

      img,
      object {
        width: 100%;
      }
    }
  }

  .navbar-toggle {
    margin: 0;
    z-index: 2;
    background-color: white;
  }
}

.front {
  .hero {
    background: rgba(0, 0, 0, 0) url("/sites/all/themes/reaching/20170512-090200-1600x900.jpg") repeat scroll 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: -1;
  }

  .lead {
    .container;
  }

  .region-header {

    .block-menu {
      .container;

      ul {
        .make-row();

        li {
          .make-xs-column(6);
          .make-sm-column(3);
          .make-md-column(12/7);

          a {
            text-align: center;
            background: #ffffff;
          }
        }
      }
    }

    .content-search {
      // Mobile:
        width: 100%;
      @media (min-width: @screen-sm-min) {
        width: 50%;
      }
    }
  }
}

.not-front {
  .region-header {
    form#search-block-form {
      // Mobile:
        margin: @line-height-computed 0;
        width: 100%;
      @media (min-width: @screen-sm-min) {
        float: right;
        width: 280px;
      }
    }
  }
}

.block-search {

  .form-control {
    height: (2*@line-height-computed);
    padding: (floor(@line-height-computed/2) - 1) floor(@grid-gutter-width / 2); /* 1px border */
  }

  .btn {
    padding: (floor(@line-height-computed/2) - 1) floor(@grid-gutter-width / 2); /* 1px border */
  }

  .form-group {
    margin: 0;
  }
}
