.navbar.container {
  margin-top: 0;
  max-width: 100%;
  
  .navbar-brand {
    margin-left: 0;
  }
}

.navbar-default {
  margin-bottom: (2*@line-height-computed);
  border: 0;
  width: 100%;
  background-color: @header-bg;

  p {
    margin: 0;
  }

  .navbar-brand,
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: @brand-primary;
  }

  .navbar-collapse {
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    width: (10 * @grid-gutter-width);
    max-width: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    overflow-y: unset;

    &.panel-group {
      .panel {
        border: 0;
      }

      .panel + .panel{
        margin-top: 0;
      }
    }

    nav {
      padding: (3 * @line-height-computed) 0 @line-height-computed;
    }

    .navbar-nav {
      margin: 0;

      > .leaf {
        > a,
        > a:hover,
        > a:focus {
        }
      }

      > .active {
        > a,
        > a:hover,
        > a:focus {
          font-weight: bold;
        }
      }

      > .leaf {
        > a {
          padding: 0 floor(@grid-gutter-width / 2);
          line-height: (2 * @line-height-computed);
          font-size: @font-size-h4;
          text-transform: uppercase;
        }
      }

      > .leaf.first {
        > a {
          padding-top: @line-height-computed;
        }
      }

      > .leaf.last {
        > a {
        }
      }
    }
  }

  .navbar-header {
    .make-row();

    padding: @line-height-computed 0 0;

    .logo {
      .make-xs-column(7);
      .make-sm-column(6);
      .make-md-column(4);

      margin: 0;
      height: (4 * @line-height-computed);

      // Align text in logo with navbar-toggle
      // Mobile:
        padding-top: 5px; 
      @media (min-width: @screen-xs-min) {
        padding-top: 9px; 
      }

      img,
      object {
        width: 100%;
        pointer-events: none;
      }
    }

    .navbar-toggles {
      .make-xs-column(5);
      .make-sm-column(6);
      .make-md-column(8);

      .navbar-toggle {
        margin: 0 floor(@grid-gutter-width / 2);
        color: @brand-primary;
        background-color: transparent;
        z-index: 2;
        padding: 0;
        margin: 0;
        border-width: 0;
        border-radius: 0;

        // Mobile:
          width: floor(11/10 * @grid-gutter-width);
          font-size: @font-size-h4;
        @media (min-width: @screen-xs-min) {
          width: floor(3/2 * @grid-gutter-width);
          font-size: @font-size-h2;
        }
        @media (min-width: @screen-sm-min) {
          width: (2 * @grid-gutter-width);
        }
        @media (min-width: @screen-md-min) {
          font-size: @font-size-h1;
        }

        &:hover {
          background-color: white;
        }

        &:focus {
          background-color: transparent;
        }
      }
    }
  }
}

.front {
  .hero {
    background: url('/sites/all/themes/reaching/images/hero/home.jpg') repeat scroll 0% 50%;
    background: -webkit-linear-gradient(white, transparent, transparent, white),
                url('/sites/all/themes/reaching/images/hero/home.jpg') repeat scroll 0% 50%;
    background: -o-linear-gradient(white, transparent, transparent, white),
                url('/sites/all/themes/reaching/images/hero/home.jpg') repeat scroll 0% 50%;
    background: -moz-linear-gradient(white, transparent, transparent, white),
                url('/sites/all/themes/reaching/images/hero/home.jpg') repeat scroll 0% 50%;
    background: linear-gradient(white, transparent, transparent, white),
                url('/sites/all/themes/reaching/images/hero/home.jpg') repeat scroll 0% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    // Mobile:
      height: (25 * @line-height-computed);
    @media (min-width: @screen-sm-min) {
      height: (26 * @line-height-computed);
    }

  }

  .navbar-default {
    margin: 0;
    background: transparent;

    // Mobile:
      height: (10 * @line-height-computed);
    @media (min-width: @screen-sm-min) {
      height: (16 * @line-height-computed);
    }
  }
}

.block.block-search {
  float: none;
  margin: 0 floor(@grid-gutter-width / 2);
  padding-top: @line-height-computed;

  .form-control {
    height: (2 * @line-height-computed);
    padding: (floor(@line-height-computed / 2) - 1) floor(@grid-gutter-width / 2); /* 1px border */
  }

  .btn {
    padding: (floor(@line-height-computed / 2) - 1) floor(@grid-gutter-width / 2); /* 1px border */
  }

  .form-group {
    margin: 0;
  }
}

.breadcrumb-container {
  margin-top: -(2*@line-height-computed);
  margin-bottom: (2*@line-height-computed);

  // Mobile:
    font-size: @font-size-h4;
    line-height: (2*@line-height-computed);
  @media (min-width: @screen-sm-min) {
    padding-left: 0;
    padding-right: 0;
    font-size: @font-size-h3;
  }

  .breadcrumb {
    .make-xs-column(12);

    margin: 0;
    padding: 0 floor(@grid-gutter-width/2);
    color: @brand-secondary;
    background-color: transparent;

    .crumb {
      &:first-child {
        // Need to investigate why this is required to line up breadcrumb with content
        // Mobile:
          margin-left: 0;
        @media (min-width: @screen-sm-min) {
          margin-left: 5px;
        }
        @media (min-width: @screen-lg-min) {
          margin-left: 0;
        }
      }

      a {
        color: @brand-secondary;
      }
    }

    .crumb + .crumb {
      &::before {
        content: "\2002\203A\2002"; // &ensp; &rsaquo; &ensp;
      }
    }
  }
}
